section.page {
  margin-bottom: 70px;

  .cart {
    width: 100%;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: content-box;
    display: none;

    &-block {
      color: #000;
      text-transform: uppercase;
      border-right: 1px solid #000;
      padding: 12px 0;

      &:hover {
        color: #fff;
        background: #000;

        .btn-quick {
          background: url(../images/icon-view.png) 0 -13px no-repeat;
        }

      }


      &:last-child {
        border: 0;
      }

      &:not(:first-child) {
        height: 43px;
        text-align: center;  /* align the inline(-block) elements horizontally */
        font: 0/0 a;

        &:before {
          content: ' ';
          display: inline-block;
          vertical-align: middle;  /* vertical alignment of the inline element */
          height: 100%;
        }

        img {
          display: inline-block !important;
          vertical-align: middle;  /* vertical alignment of the inline element */
          font: 16px/1 Arial sans-serif;
        }

      }

      & > p {
        font-size: 16px !important;
      }

    }

  }

  .middle-block {
    height: 35px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;		/* remove the gap between inline(-block) elements */
    padding: 0;
    display: inherit;

    &:before {			/* create a full-height inline block pseudo=element */
      content: ' ';
      vertical-align: middle;  /* vertical alignment of the inline element */
      height: 100%;
      display: inline-block;
    }

    a {
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      font: 0 Arial sans-serif;
      padding: 0;
      margin-right: 10px;

    }

    &.active {
      border: 0;

      a {
        border: 0;
        font-size: inherit !important;
      }

    }
  }

  .middle-img {
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(center);
    @include flex-flow(row wrap);
  }

  .form-group {
    margin-bottom: 0;
  }

  .bread {
    padding-top: 185px;

    .page-title {
      @include FontLight($font-title);
      color: #000;
      margin-top: 0;
      margin-bottom: 29px;
      padding-bottom: 25px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        background: #000;
      }
    }

    span {
      display: inline-block;
    }

  }

  &.details {

    .row.details {
      margin-bottom: 90px;
    }

    .inner {

      .row {

        .cart-deails {

          .form-control {
            width: 100%;
            margin-left: 0;
          }
        }

        &.description {

          .tab-content {
            padding: 27px 30px;
            border: 1px solid #e1e1e1;
            border-top-color: transparent;

            .tab-pane {
              margin-top: 0;
            }

          }

          .nav-tabs>li {

            &.active>a {
              border-bottom-color: transparent;
              /*background: #000;*/
              @include FontBold($font-body);
              /*color: #fff;*/
            }

            a {
              @include FontRegular($font-body);
              color: $text-title;/*
              border: 1px solid #e1e1e1;
              @include borderCorner(0);*/
            }

          }

        }

        &.bread.team {
          padding-top: 85px;
        }

      }
    }

  }

  .flex {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
  }

  .breadcrumb {
    background: transparent;
    margin-top: 32px;
    padding: 0;
    @include FontRegular($font-breedcrumb);
    
    a {
      color: $text-title;
    }

   &>li+li:before {
     padding: 0;
   }
    
  }

  .details {

    .label-height {
      line-height: 34px;
    }

    .form-control {
      @include borderCorner(0)
    }

    .status {
      @include  FontBold($font-body);
      color: #ffc600;
    }

    .price {
      @include FontRegular(30px);
      color: $text-title;
      margin-bottom: 25px;

      &-sale {
        @include FontBold(30px);
        color: #ffc600;
      }

      &-retail {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 12px;
          left: 0;
          background: #9d9d9d;
        }

      }
    }

  }

  .form-control, textarea {
    @include borderCorner(0);
    height: 43px;
    border: 1px solid #e1e1e1;
    @include FontRegular($font-body);
  }

  .form-group {
    margin-bottom: 15px;

    textarea.form-control {
      height: 165px;
    }

  }

  .link {
    @include FontRegular($font-body);
    color: $text;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .underline {
    text-decoration: underline;
  }

  &.acoounts {

    .bread .page-title {
      margin-bottom: 43px;
    }

    .text-title {
      margin: 0 0 25px;
    }

    .form-control {
      height: 35px;
    }

    .btn-contact {
      padding: 10px 20px;
    }

    .register {
      margin-top: 60px;
    }

  }

  .modal-dialog {

    .auto {
      width: auto;

      p {
        text-align: left;
        @include FontRegular($font-body);
        color: $text;
        text-transform: initial;
      }
    }

  }

}

body.modal-open {
  overflow: inherit;
}
