@media (min-width: 768px) {

  header {

    .navbar-toggle {
      display: inline-block;
    }

  }

  section.page {

    .modal-dialog {
      width: 1030px;
      margin: 150px auto 0;

      .modal-content {
        padding: 48px 0;
        background: #fff;
      }
    }

  }

}