section.cart {

  .back {
    margin-bottom: 30px;

    a {
      cursor: pointer;
      padding-left: 27px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('../images/back.png') no-repeat;
        width: 20px;
        height: 10px;
      }

    }
  }
  
  a {
    color: $text;
  }

  .cart--details {

    .line-bottom {
      border-bottom: 1px solid $gray;

      &:not(:first-child) {
        padding: 30px 0;

        p {
          margin-bottom: 0;
        }

      }

    }

    p.bold {
      @include FontBold($font-nav);
    }

    p {
      @include FontRegular($font-nav);
    }


    &--title {

      p {
        margin-bottom: 13px;
        @include FontBold($font-nav);
      }
    }

    &--item {

      .row {
        position: relative;

        .pager-common {
          right: 0;
          width: auto;
          position: inherit;

          .bg-gay {
            height: 34px;
            margin: 0;
            top: inherit;
            bottom: -13px;
          }


        }

        p, .form-control, .remove {
          margin-top: 10px;
        }

        .form-control {
          max-width: 100px;
          margin: 10px auto 0;
          text-align-last: center;
          height: 27px;
        }
        
        .remove {
          cursor: pointer;
        }
      }

    }

  }

  .btn-contact {
    width: 100%;
    padding: 8px 20px;
  }

  .form-control {
    height: 37px;
    margin-bottom: 11px;
  }

  .border {
    border: 1px solid #e1e1e1;
    
    .black {
      background: #000;
      padding: 15px 0 15px 20px;

      .text-title {
        color: #fff;
        font-size: 16px;
      }

    }

    &--content {
      padding: 20px;

      p, span {
        margin: 0;
      }

      & >div {
        margin-bottom: 10px;
      }
    }
    
  }

  .cart--details--count {
    margin-top: 35px;
  }
}