section.details {

  .carousel-product-details {

    .carousel-wrap {
      position: relative;
      /*height: 375px;*/

      .bg-gay {
        position: absolute;
        width: 100%;
        background: $box;
        top: 50%;
        margin-top: -100px;
        z-index: -1;
      }

      .bx-wrapper {
        margin: 0 auto;

        .bx-viewport {
          box-shadow: none;
          left: inherit;
          border: 0;

          .bxslider-details > li {
            left: 0;

            .bg-gay {
              height: 200px;
            }

          }

        }



      }

      #bx-pager {

        .bg-gay {
          height: 34px;
          top: inherit !important;
          bottom: -13px;
          margin-top: 0;
        }

      }

    }



  }

}