.products-common {

  .inner {

    .nav-controls {
      border: 0;
      width: 100%;

      li {
        cursor: pointer;

        &:not(.transparent) {
          @include FontRegular($font-body);
          color: $text-title;
          padding: 7px 20px;
          border: 1px solid #000;
          margin-right: 6px;
          @include borderCorner(0);
          
          &:hover {
            background: #000;
            color: #fff;
            @include FontBold($font-body);
            letter-spacing: -0.3px;
            text-decoration: none;
          }
        }
        
        &.mixitup-control-active:not(.transparent) {
          background: #000;
          color: #fff;
          @include FontBold($font-body);
          letter-spacing: -0.3px;
        }

      }

      .tab-right {
        border-bottom: 0;

        li {

          &.active {
            background: none;
          }

          &.active {
            background: none;
          }

          img:first-of-type {
            margin-right: 10px;
          }

          img:last-child {
            margin-right: 17px;
          }

        }

      }

    }



    .relative{
      position: relative;
    }
    .tab-content {

      .tab-pane {
        margin-top: 50px;

        .grid {

          .product-item-grid {
            min-height: 300px;
            @include animate(0.5s);

            /*.bg-gray {
              top: inherit;
              bottom: -24px;
              height: 50px;
            }*/

            .custom-col-4 {
              width: 38.333333%;
            }

            .custom-col-8 {
              width: 60.666667%;
            }

          }

          .product-item-grid-content {

            /*&:before {
              width: 0;
            }*/

            .sale {
              position: relative;

              span {
                margin-right: 0;
              }

              &:before {
                content: '';
                position: absolute;
                height: 1px;
                background: #000;
                width: 110px;
                right: 0;
                top: 10px;
              }

            }

            span:last-of-type {
              //margin-left: 10px;
              margin-right: 0;
            }

          }

          /*.cart {
            display: block;
            top: inherit;
            bottom: -97px;
          }*/

        }

        .bg-gray {
          position: absolute;
          content: '';
          width: 100%;
          height: 70px;
          background: $box;
          bottom: -32px;
          left: 0;
          z-index: -1;
        }

      }
      
    }


      .product-item {
        min-height: 400px;
        position: relative;

        .product-box{
          min-height: 235px;
          position: relative;
        }

        .description {
          @include FontRegular($font-body);
          color: $text;
          padding-top: 15px;
          display: none;
        }
        .cart{
          display: none;
        }

        img {
          display: table;
          margin: 0 auto;
        }

        &-content {
          padding: 50px 0 50px 15px;
          position: relative;
          margin-left: 15px;

          p, span:not(.cart p) {
            @include FontBold($font-nav);
            color: $text-title;
          }

          span:first-of-type {
            @include FontRegular($font-nav);
            margin-right: 10px;
          }

          &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 82px;
            background: #000;
            left: 0;
            top: 25px;
          }

        }

        &:hover > .cart {
          display: block;
        }

        &-list {
          min-height: 198px;

          .product-box {
            min-height: 180px;

            .bg-gray {
              top: inherit;
              bottom: -32px;
              height: 50px;
            }

          }

          .relative {
            min-height: 212px;

            .product-item-content {
              margin-left: 0;
              padding: 0;

              &:before {
                width: 0;
              }

              .item-name {
                display: inline-block;
                position: relative;
                padding-right: 70px;
                margin-bottom: 10px;
              }

              span.price-now {
                position: relative;

                &:before {
                  content: '';
                  position: absolute;
                  height: 1px;
                  background: #000;
                  left: -43px;
                  width: 110px;
                  top: 11px;
                }

              }

            }

            .cart {
              display: block;
              top: inherit;
              bottom: 0;
            }

          }

        }
        
        .relative {
          
          .text-sale {
            display: none;
          }
          
        }

      }
    [data-type="list-filter"] {


      .product-item {
        min-height: 240px;

        .product-box {
          min-height: 0;

          .text-sale {
            display: none;
          }

        }

        .bg-gray {
          height: 50px;
          top: inherit;
          bottom: -32px;
        }

        .cart, .description{
          display: block;
        }

        .relative {
          min-height: 195px;


          .cart {
            bottom: 0;
            top: inherit;
          }

          .product-item-content {
            padding: 0;
            margin: 0;

            &:before {
              width: 0;
            }

            .text-uppercase {
              @include FontBold(18px);
            }

           .sale-price {
             position: relative;

             del {
               text-decoration: none;
             }

             &:before {
               content: '';
               position: absolute;
               width: 110px;
               height: 1px;
               background: #000;
               top: 11px;
               right: 0;
             }

           }
            
            .sale-box {
              position: relative;
              display: inline-block;
              padding-right: 65px;
              margin-bottom: 10px;
              
              .text-sale {
                display: block;
                font-size: 13px;
              }

              span {
                margin-right: 0;
              }

            }

          }

        }

        .middle-img {

          img {
            width: 70%;
          }

        }

      }


    }


    .form-control {
      @include borderCorner(0);
      @include FontRegular($font-body);
      color: $text-title;
      margin-left: 7px;
      width: auto;
      border: 1px solid #000;
    }

  }

}